.card {
  display: flex;
  margin-bottom: 20px;
  width: 778px;
  height: 164px;
  background: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
}

.infoContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.image {
  width: 111px;
  height: 111px;
  background: #b8b8b8;
  border-radius: 10px;
}
.side {
  width: 617px;
  min-height: 54px;
  height: fit-content;
  /* background-color: #c2c2c2; */
  margin-bottom: 8px;
  border-radius: 10px;
  color: #727272;
  font-family: "Open Sans";
  font-size: 13px;
}
.tag {
  width: auto;
  height: 20px;
  margin-right: 10px;
  background: #5ea0ff;
  border-radius: 10px;
  color: white;
  font-family: "Open Sans";
  padding: 0px 10px;
  font-size: 13px;
}
.title {
  width: auto;
  height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
.company {
  width: auto;
  height: 22px;
  margin-top: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #727272;
}

.iconContainer {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 14px;
}
