.navbar {
  background-color: #86b8ff;
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBox {
  height: 2rem;
  border: none;
  border-radius: 10px;
  width: 250px;
}

.crossIcon {
  position: absolute;
  right: 168px;
  top: 32px;
  color: #727272;
}
